* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: rgba(214, 227, 214, 0.548);
}

.navbar {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.checkbox {
    justify-content: center;
    align-items: center auto;
    display: inline-block;
    width: 180px;
}

.box {
    background-color: rgba(214, 227, 214, 0.575);
    border: none;
    appearance: none;
}

.box:hover {
    background-color: rgba(98, 178, 98, 0.457);
}

.box:focus-within {
    background-color: rgba(98, 178, 98, 0.457);
}

.form {
    padding-top: 3cm;
}

.button {
    cursor: pointer;
}

.message {
    animation: buttons .3s linear;
}

.message .success {
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

a[href="/what_we_do"] {

    text-decoration: none;
}

a[href="/where_we_are"] {

    text-decoration: none;
}

a[href="/imprint"] {

    text-decoration: none;
}

a[href="/"] {

    text-decoration: none;
}