* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    align-items: center;
}

.navbar {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.button {
    cursor: pointer;
}

.message {
    animation: buttons .3s linear;
}

.message .success {
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

a[href="/what_we_do"] {
    color: white;
}

a[href="/where_we_are"] {
    color: white;
}

a[href="/imprint"] {
    color: white;
}

a[href="/"] {
    color: white;
}
