* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6e3d68c;
}

.navbar {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.form {
    padding-top: 3cm;
}

.button {
    cursor: pointer;
}

.message {
    animation: buttons .3s linear;
}

.message .success {
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

a[href="/what_we_do"] {

    text-decoration: none;
}

a[href="/where_we_are"] {

    text-decoration: none;
}

a[href="/imprint"] {

    text-decoration: none;
}

a[href="/"] {

    text-decoration: none;
}

.container {
    max-width: 120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    margin: 7px;

}

.container div label {
    cursor: pointer;
}

.container div label input[type="checkbox"] {
    display: none;
}

.container div label span {
    position: relative;
    display: block;
    background: #212529;
    padding: 10px 50px;
    color: rgb(143, 141, 141);
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    border-radius: 50px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}

.container div label span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.container div label input[type="checkbox"]:checked ~ span {
    background: #009728;
    color: #fff;
    box-shadow: 0 2px 20px #009728;
}

.wrapper input {
    background: rgba(214, 227, 214, 0.575);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    border: none;
    border-radius: 5px;
}

.wrapper input:hover {
    background: rgba(98, 178, 98, 0.457);
    border-radius: 5px;
}

.wrapper input:focus-within {
    background: rgba(98, 178, 98, 0.457);
    border: solid #212529;
}

.message-box textarea{
    background: rgba(214, 227, 214, 0.575);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    border-radius: 5px;
}

.message-box textarea:hover {
    background: rgba(98, 178, 98, 0.457);
    border-radius: 5px;
}

.message-box textarea:focus-within {
    background: rgba(98, 178, 98, 0.457);
    border: solid #212529;
}

.photo-logo {
    width: 75%;
    max-width: 15cm;
}

.photo-team {
    width: 100%;
}

.avatar {
    content: "";
    margin-top: 2cm;
    margin-left: 93%;
    font-size: 16px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #212529;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.avatar::after {
    content: attr(data-label);
    font-family: sans-serif;
    color: white;
}

.chart {
    width: 70%;
    padding: 1cm;
}

.box {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgb(69, 69, 69);
    filter: blur(px);
}

.table-responsive {
    width: 90%;
    padding: 1cm;
    margin: 1cm;
}

.box-table {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    padding: 0.7cm;
    margin-bottom: 0.8cm;
    background: white;
    z-index: -2;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgb(69, 69, 69);
    filter: blur(px);
    align-items: center;
}

.table-grey {
    background-color: rgba(26, 26, 26, 0,2);
    color: rgb(255, 255, 255);
}

.table-brown {
    background-color: rgba(66, 33, 0, 0,2);
    color: rgb(255, 255, 255);
}
