{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}

<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">

    <div class="container-fluid">
      <a href="/">
            <img class="navbar-brand logo" src="/static/Trashy_logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body-dark">

          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                <li class="nav-item px-3"><a class="nav-link" href="/what_we_do">What we do</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/where_we_are">The Team</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/imprint">Imprint</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/admin">Admin pannel</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/admin/register">Register</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/admin/logout">Log out</a></li>
          </ul>
          
        </div>
      </div>
    </div>
</nav>

<div class="avatar" data-label="{{ avatar }}"></div>

<img class="photo-logo" src="/static/Trashy.png">

<div class="box-table">
    <table class="table table-bordered table-hover table-responsive">
      <thead class="table">
            <tr>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">E-mail</th>
              <th scope="col">City</th>
              <th scope="col">Zip</th>
              <th scope="col">Steet</th>
              <th scope="col">House number</th>
              <th scope="col" class="table-warning">Yellow can</th>
              <th scope="col" class="table-grey">Black can</th>
              <th scope="col" class="table-brown">Brown can</th>
              <th scope="col" class="table-primary">Blue can</th>
              <th scope="col">Extra Message</th>
            </tr>
      </thead>
      <tbody>
          {% for users in users %}
              <tr>
                  <td>{{ users.first_name }}</td>
                  <td>{{ users.last_name }}</td>
                  <td>{{ users.email }}</td>
                  <td>{{ users.city }}</td>
                  <td>{{ users.zip }}</td>
                  <td>{{ users.street }}</td>
                  <td>{{ users.house_number }}</td>
                  <td class="table-warning">{{ users.yellow_can }}</td>
                  <td class="table-grey">{{ users.black_can }}</td>
                  <td class="table-brown">{{ users.brown_can }}</td>
                  <td class="table-primary">{{ users.blue_can }}</td>
                  <td>{{ users.extra_message }}</td>
              </tr> 
          {% endfor %}
      </tbody>
    </table>
</div>

<div class="box">
  <canvas id="myChart" class="chart"></canvas>
  <p style="padding: 0.5cm;">Total cans: {{ can_amount }}</p>
</div>

{% endblock %}