{% extends "layout.html" %}

{% block title %}
    Imprint
{% endblock %}

{% block main %}

<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top mb-3">

  <div class="container-fluid">
    <a href="/">
          <img class="navbar-brand logo" src="/static/Trashy.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body-dark">

        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
              <li class="nav-item px-3"><a class="nav-link" href="/what_we_do">What we do</a></li>
              <li class="nav-item px-3"><a class="nav-link" href="/where_we_are">The Team</a></li>
              <li class="nav-item px-3"><a class="nav-link" href="/imprint">Imprint</a></li>
              <li class="nav-item px-3"><a class="nav-link" href="/admin/register">How to be a servive provider</a></li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>

<div class="form">
    <h1>Imprint</h1>
    <h4>
      Name: Tobias Karuth
    </h4>
    <h4>
      Email: tobiaskaruth@gmail.com
    </h4>
    <h4>
      Address: Germany, Schopenhauerstr.7, 51147 Cologne
    </h4>
</div>

{% endblock %}