{% extends "layout.html" %}

{% block title %}
    Form
{% endblock %}

{% block main %}

<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">

    <div class="container-fluid">
      <a href="/">
            <img class="navbar-brand logo" src="/static/Trashy_logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body-dark">

          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                <li class="nav-item px-3"><a class="nav-link" href="/what_we_do">What we do</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/where_we_are">The Team</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/imprint">Imprint</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/admin/register">How to be a servive provider</a></li>
          </ul>
          
        </div>
      </div>
    </div>
</nav>

<img class="photo-logo" src="/static/Trashy.png">

<form action="/" method="post" class="">

    <div class="mb-3 wrapper">
        <input autocomplete="off" autofocus placeholder="First name" id="first_name" name="first_name" type="text">
    </div>
    <div class="mb-3 wrapper">
        <input autocomplete="off" placeholder="Last name" id="last_name" name="last_name" type="text">
    </div>
    <div class="mb-3 wrapper">
        <input autocomplete="off" placeholder="E-mail" id="email" name="email" type="email">
    </div>
    <div class="mb-3 wrapper">
      <input autocomplete="off" placeholder="City" aria-label="City" id="city" name="city" type="text">
    </div>
    <div class="mb-3 wrapper">
      <input autocomplete="off" placeholder="State" aria-label="State" id="state" name="state" type="text">
    </div> 
    <div class="mb-3 wrapper">
      <input autocomplete="off" placeholder="Zip" aria-label="Zip" id="zip" name="zip" type="text">
    </div>
    <div class="mb-3 wrapper">
        <input autocomplete="off" placeholder="Street" id="street" name="street" type="text">
    </div>
    <div class="mb-3 wrapper">
        <input autocomplete="off" placeholder="House number" id="house_number" name="house_number" type="text">
    </div>

    <fieldset class="mb-4">
        <legend class="mb-5">Choose your Cans the Service provider has to put out</legend>
        <div class="container">

            <div>
                <label>
                  <input id="yellow_can" name="yellow_can" value="yellow_can" type="checkbox">
                  <span>Yellow can</span>
                </label>
            </div>

            <div>
                <label>
                  <input id="black_can" name="black_can" value="black_can" type="checkbox">
                  <span>Black can</span>
                </label>
            </div>

            <div>
                <label>
                  <input id="brown_can" name="brown_can" value="brown_can" type="checkbox">
                  <span>Brown can</span>
                </label>
            </div>

            <div>
                <label>
                  <input id="blue_can" name="blue_can" value="blue_can" type="checkbox">
                  <span>Yellow can</span>
                </label>
            </div>
  
        </div>
    </fieldset>
    <div class="mb-3 message-box">
      <input autocomplete="off" placeholder="Extra message to the Service provider" aria-label="msg" id="msg" name="msg" type="text">
    </div>

    <button class="btn btn-success mb-3" onclick="message()" id="send" type="submit">Submit</button>
    <div class="message">
      <div class="alert alert-success success" id="success">
          Your are now registered ✔
      </div>
      <div class="alert alert-danger danger" id="danger">
          You have to fill out the form ❗
      </div>
    </div>

</form>

{% endblock %}