{% extends "layout.html" %}

<!-- TODO chose different name-->
{% block title %}
    submit garbage cans
{% endblock %}

{% block main %}
<!-- TODO the look-->

<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">

    <div class="container-fluid">
      <a href="/">
            <img class="navbar-brand logo" src="/static/Trashy.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body-dark">

          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                <li class="nav-item px-3"><a class="nav-link" href="/what_we_do">What we do</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/where_we_are">The Team</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/imprint">Imprint</a></li>
          </ul>
          
        </div>
      </div>
    </div>
</nav>

<form action="/" method="post" class="form">

    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto box" id="first_name" name="first_name" placeholder="First name" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto box" id="last_name" name="last_name" placeholder="Last name" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto box" id="email" name="email" placeholder="Email" type="email">
    </div>
    <div class="mb-3">
      <input autocomplete="off" class="form-control mx-auto w-auto box" placeholder="City" aria-label="City" id="city" name="city" type="text">
    </div>
    <div class="mb-3">
      <input autocomplete="off" class="form-control mx-auto w-auto box" placeholder="State" aria-label="State" id="state" name="state" type="text">
    </div>
    <div class="mb-3">
      <input autocomplete="off" class="form-control mx-auto w-auto box" placeholder="Zip" aria-label="Zip" id="zip" name="zip" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto box" id="street" name="street" placeholder="Street" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto box" id="house_number" name="house_number" placeholder="House Number" type="text">
    </div>

    <fieldset class="mb-4">
        <legend class="mb-5">Choose your Cans the Service provider has to put out</legend>
        <div class="container">

            <div>
                <label>
                  <input id="yellow_can" name="yellow_can" value="yellow_can" type="checkbox">
                  <span>Yellow can</span>
                </label>
            </div>

            <div>
                <label>
                  <input id="black_can" name="black_can" value="black_can" type="checkbox">
                  <span>Black can</span>
                </label>
            </div>

            <div>
                <label>
                  <input id="brown_can" name="brown_can" value="brown_can" type="checkbox">
                  <span>Brown can</span>
                </label>
            </div>

            <div>
                <label>
                  <input id="blue_can" name="blue_can" value="blue_can" type="checkbox">
                  <span>Yellow can</span>
                </label>
            </div>
  
        </div>
    </fieldset>

    <button class="btn btn-success mb-3" onclick="message()" id="send">Submit</button>

</form>

<div class="message">
    <div class="alert alert-success" id="success">
        Your are now registered ✔
    </div>
    <div class="alert alert-danger" id="danger">
        You have to fill out the form ❗
    </div>
</div>

{% endblock %}