{% extends "layout.html" %}

<!-- TODO chose different name-->
{% block title %}
    submit garbage cans
{% endblock %}

{% block main %}
<!-- TODO the links and look -->
<nav class="navbar navbarsticky-top bg-dark mb-3">
    <div class="container-fluid">
      <img class="navbar-brand" href="/" src="/static/Trashy.png" style="width: 100px; height: 100px; margin: 10px;">
      <a class="navbar-text-light" href="/what_we_do">What we do</a>
      <a class="navbar-text" href="/where_we_are">The Team</a>
      <a class="navbar-item" href="/imprint">Imprint</a>
    </div>
</nav>
<div class="alert alert-success" role="alert">
    Your are now registered ✔
</div>
<form action="/" method="post">
    <div class="row">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="First name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="Last name" type="text">
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
    </div>
    <div class="row g-3 mb-3">
        <div class="col-sm-7">
          <input autocomplete="off" class="form-control mx-auto w-auto" placeholder="City" aria-label="City" id="city" name="city" type="text">
        </div>
        <div class="col-sm">
          <input autocomplete="off" class="form-control mx-auto w-auto" placeholder="State" aria-label="State" id="state" name="state" type="text">
        </div>
        <div class="col-sm">
          <input autocomplete="off" class="form-control mx-auto w-auto" placeholder="Zip" aria-label="Zip" id="zip" name="zip" type="text">
        </div>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="street" name="street" placeholder="Street" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="house_number" name="house_number" placeholder="House Number" type="text">
    </div>
    <fieldset class="mb-4">
        <legend class="mb-5">Choose your Cans the Service provider has to put out</legend>
        <div class="mb-3">
            <input id="yellow_can" name="yellow_can" value="yellow_can" type="checkbox">
            <label for="yellow_can">Yellow can</label>
        </div>
        <div class="mb-3">
            <input id="black_can" name="black_can" value="black_can" type="checkbox">
            <label for="black_can">Black can</label>
        </div>
        <div class="mb-3">
            <input id="brown_can" name="brown_can" value="brown_can" type="checkbox">
            <label for="brown_can">Brown can</label>
        </div>
        <div class="mb-3">
            <input id="blue_can" name="blue_can" value="blue_can" type="checkbox">
            <label for="blue_can">Blue can</label>
        </div>
    </fieldset>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock %}