{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block main %}

<nav class="bg-dark border navbar navbar-expand-md navbar-dark mb-3">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img class="navbar-brand logo" src="/static/Trashy.png">
      </a>
      <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
          
              <ul class="navbar-nav me-auto mt-2">
                  <li class="nav-item"><a class="nav-link" href="/what_we_do">What we do</a></li>
                  <li class="nav-item"><a class="nav-link" href="/where_we_are">The Team</a></li>
                  <li class="nav-item"><a class="nav-link" href="/imprint">Imprint</a></li>
              </ul>
          
      </div>
  </div>
</nav>

<figure class="figure">
  <img src="/static/Photo Tobias Karuth (2).jpg" class="figure-img img-fluid rounded">
  <figcaption class="figure-caption">
    Hi 🖐 I am Tobias Karuth from Germany and this is my final project for CS50x its called Trashy and its a garbage can website.and I´m the only one on the Team because ... why not.
  </figcaption>
</figure>

{% endblock %}